
.business_root {
  .businessList {
    // 覆盖别人写的已有样式
    :global(.ant-table-tbody>.ant-table-expanded-row-level-1>.ant-table-cell){
      padding: 8px 0px;
    }
    //
    :global(.ant-table .ant-table-expanded-row-fixed) {
      padding: 0px 0px 0px 56px;
      background: #fff;
    }
  }

  // 批量操作
  .deleteAll {
    padding-left: 24px; 
    padding-right: 20px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:0 -9px 28px 8px rgba(0,0,0,0.05), 0 -6px 16px 0 rgba(0,0,0,0.08), 0 -3px 6px -4px rgba(0,0,0,0.12);
    position: fixed;
    bottom: 0px;
    background: #fff;
  }

}