.suite {
    .spinWrapper {
        width: 100%;
        height: 100%;

         :global{
            .ant-spin-container {
                width: 100%;
                height: 100%;
            }

            .ant-empty-normal {
                margin: 0 0 12px 0; // 覆盖原组件样式。
            }
        }
    }
    .nav{
        opacity: 0.85;
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #000000;
        line-height: 24px;
    }

    .bar{
        white-space:nowrap;
        background-color: transparent;
    }

    .title{
        opacity: 0.85;
        margin-right: 8px;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        line-height: 28px;
    }

    .remove{
        visibility: hidden;
        float : right;
        margin-top: 6px;
        margin-right: 6px;
        color:red;
        cursor: pointer;
    }
    
    .batch{
        position: absolute;
        padding-right : 20px;
        height:48px;
        width:100%;
        top: -11px;
        background-color: #fff;
        padding-left:24px;
        z-index: 1;
        box-shadow:0 -9px 28px 8px rgba(0,0,0,0.05), 0 -6px 16px 0 rgba(0,0,0,0.08), 0 -3px 6px -4px rgba(0,0,0,0.12);
    }

    .info{
        width: 180px;
    }

    .var{
        width: 150px;
    }

    .action{
        width: 60px;
    }

    .column_outter {
        width : 100px;
    }

   /*  :global {
        .ant-table.ant-table-small .ant-table-expanded-row-fixed {
            margin: 0;
            padding: 0;
        }

        .ant-table-tbody > tr > td {
            border-bottom: none;
            // background-color: #fff;
            padding:0 4px !important;
        }

        .outter-odd td {
            background-color: #F2F5FC;
        }

        .outter-even td {
            background-color: #fff;
        }

        .inner-odd td {
            background-color: #fff;
        }

        .inner-even td {
            background-color: #F2F5FC;
        }

        .ant-table-tbody > tr .ant-table-wrapper:only-child .ant-table tr {
            &:hover {
                td {
                    background-color: #fafafa !important;
                }
            }
        }

        .ant-table-thead > tr > th {
            padding:0 4px !important;
        }

        .ant-card-body {
            padding:0;
        }

        tr.ant-table-expanded-row > td {
            background: #fff;
        }

        .ant-table-tbody>.ant-table-expanded-row-level-1>.ant-table-cell {
            padding: 0!important;
            .resize-table-wrapper {
                padding: 0 0 0 22px!important; 
            }
        }
    
         .ant-table-expand-icon-col {
            width: 22px !important;
        }
    
        .ant-table-thead tr .ant-table-selection-column,
        .ant-table-tbody .outter .ant-table-row-expand-icon-cell {
            overflow: hidden;
        }

        .ant-table .ant-table-selection-col {
            width: 25px !important;
        }

        .ant-table-small .ant-table-selection-column {
            width: 30px !important;
            min-width:0;
        }

        .ant-table-row:hover .ant-table-cell>.anticon-minus-circle {
            visibility: visible;
        }

        .ant-table-row:hover,.ant-table-row:hover {
            background-color: #fafafa !important;
        }

        .ant-card-body>.ant-table-wrapper>.ant-spin-nested-loading>.ant-spin-container>.ant-table-small .ant-table-thead > tr > th {
            border-bottom: none;
        }

        .ant-table-cell .ant-table .ant-table-row {
            background: #fbfcfe !important; 
        }
    
        .ant-table-cell .ant-table .ant-table-thead .ant-table-cell {
            background: #f2f5fc !important; 
        }

        .ant-table-cell .ant-table .ant-table-thead .ant-table-selection {
            background: #f2f5fc !important; 
        }

        .ant-drawer-body {
            padding: 13px 24px; 
        }

        .ant-form-item {
            margin-bottom: 8px; 
        }

        .ant-space>.ant-space-item>.ant-form-item {
            margin-bottom: 0; 
        }

        .ant-table-ping-right .ant-table-cell-fix-right-last::after {
            box-shadow: none;
        }
    } */
}

/* .conf_table {
    :global {
        .ant-table-thead > tr {
            & th:nth-child( n + 2 ) {
                line-height: 0 !important;
                height : 22px !important;
                span {
                    height: 22px !important;
                    line-height: 22px !important;
                }
            }
        }

        .ant-table {
            & .ant-table-container::before {
                width: 0px !important;
            }

            th {
                white-space: nowrap;
            }
        }
    }
} */

.suite_table_loading {

    .show_left_border td:first-child {
        border-left: 2px solid #243cb6;
    }

    :global {
        .ant-spin-nested-loading > div > .ant-spin {
            z-index: 0;
        }

        table tr td.ant-table-selection-column {
            text-align: center !important;
        }

        .ant-table.ant-table-small .ant-table-tbody .ant-table-wrapper:only-child .ant-table {
            margin: 0px;
        }

        .ant-table-expanded-row-fixed {
            padding: 0 !important;
            margin: 0 !important;
        }

        .ant-table-expanded-row.ant-table-expanded-row-level-1 > .ant-table-cell {
            padding: 0 !important;
        }

        .ant-table-tbody .active-suite-table-row:last-child td {
            border-bottom: none;
        }

        .ant-table-expanded-row.ant-table-expanded-row-level-1 > td {
            border-left: 2px solid #243cb6;
        }
    
        .ant-table-row-selected td {
            background-color: #fff !important;
        }
    }
}

.batch_setting_table_bar {
    height : 50px ;
    padding : 0 10px ;
    border-top: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.suite_drawer,
.case_drawer {
    :global {
        .ant-drawer-body {
            padding: 0;
        }
        .ant-form {
            padding: 13px 0;
        }
        .ant-drawer-header {
            padding: 16px 14px 8px;
        }
    }
}

.drawer_padding {
    padding-left: 20px;
    padding-right: 20px;
}

.case_form,
.suite_form {
    :global(.ant-form-item) {
        margin-bottom: 8px;
    }
}

.serverItemUnchecked {
    &::after {
        background-color: transparent;
    }
}

.btn_style {
    color: #1890ff;
    cursor: pointer;
    margin-left: 8px;
}