.expandConf:hover { color: #1890ff; background: rgba(24,143,255, 0.05); }
.expandIndex:hover { color: #1890ff; background: rgba(24,143,255, 0.05); }


.result_expand_table {
    :global( .ant-table-expanded-row > td ) {
        background: rgb(251, 251, 251);
        padding: 0 !important;
    }

    :global(.ant-table-row-expand-icon-cell) {
        padding: 0 !important;
    }
    :global(.ant-table .ant-table-expanded-row-fixed) {
        margin: unset;
        padding: unset;
    }
}

.result_info_table_head {
    :global( .ant-table-thead .ant-table-cell ) {
        background: #EDEDED;
    }

    :global {
        .ant-table.ant-table-small.ant-table-empty {
            margin: 0!important;
        }
    }
}
.result_info_table_head_line {
    :global {
        tbody > tr:nth-last-child(1) > td {
            border-bottom: none;
        }
    }
}

.result_info_table_row {
    background: #fbfbfb;

    :global( .ant-table-cell ) {
        background: #fbfbfb !important;
        border-bottom: 1px solid #f0f0f0;
        padding-left: 8px;
    }
}

.column_circle_text {
    display: inline-block;
    min-width: 33px;
    padding-left: 5px;
    padding-right: 5px;
    height: 18px;
    border-radius: 9px;
    text-align: center;
    color: #ffffff;
    line-height: 18px;
    cursor: pointer; 
}

.edit:hover{
    color:#1890ff
}

.file_icon ,
.dir_icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 5px;
    background: url('~@/assets/single-only-sprite.png') no-repeat center center;
}

.file_icon {
    background-position: 0 -48px;
}

.dir_icon {
    background-position: 0 -16px;
}

.resultCaseTableCls {
    :global {
        .expandedRowClassNameCls>td {
            overflow: hidden;
            border-bottom: none;
        }
        .expandedRowClassNameCls > td > div {
            width: 100% !important;
        }
    }
}

/* 去掉二级表格最底部下划线 */
.resultCaseTableCls > div > div > div > div > div > table > tbody > tr:nth-last-child(2) > td {
    border-bottom: none;
}